*~
*.1
*.a
*.annot
*.bak
*.cmi
*.cmo
*.cmx
*.cmxa
*.la
*.lo
*.log
*.o
*.so
*.tar.gz
*.tar.gz.sig
*.trs
stamp-*.pod

.deps
.libs
Makefile
Makefile.in

/local*

/aclocal.m4
/align/virt-alignment-scan
/autom4te.cache/
/bash/virt-builder
/bash/virt-cat
/bash/virt-customize
/bash/virt-df
/bash/virt-diff
/bash/virt-drivers
/bash/virt-edit
/bash/virt-filesystems
/bash/virt-format
/bash/virt-get-kernel
/bash/virt-inspector
/bash/virt-log
/bash/virt-ls
/bash/virt-resize
/bash/virt-sysprep
/bash/virt-sparsify
/bash/virt-tail
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/build-aux/ylwrap
/builder/.depend
/builder/*.img
/builder/index-parse.c
/builder/index-parse.h
/builder/index_parser_tests
/builder/index-scan.c
/builder/libguestfs.conf
/builder/opensuse.conf
/builder/osinfo_config.ml
/builder/*.out
/builder/*.qcow2
/builder/repository-testdata
/builder/templates/index
/builder/templates/index.asc
/builder/test-config/virt-builder/repos.d/test-index.conf
/builder/test-console-*.sh
/builder/test-simplestreams/virt-builder/repos.d/cirros.conf
/builder/test-website/virt-builder/repos.d/libguestfs.conf
/builder/virt-builder
/builder/virt-builder-repository
/builder/virt-index-validate
/builder/*.xz
/cat/virt-cat
/cat/virt-filesystems
/cat/virt-log
/cat/virt-ls
/cat/virt-tail
/config.cache
/config.log
/config.h
/config.h.in
/config.sh
/config.status
/configure
/customize/.depend
/customize/test-password-*.sh
/customize/test-settings-*.sh
/customize/virt-customize
/df/virt-df
/drivers/.depend
/drivers/hwdata_config.ml
/drivers/virt-drivers
/diff/virt-diff
/edit/virt-edit
/format/virt-format
/get-kernel/.depend
/get-kernel/virt-get-kernel
/inspector/actual-*.xml
/inspector/virt-inspector
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/make-fs/virt-make-fs
/ocaml-dep.sh
/ocaml-link.sh
/po-docs/*/*.pod
/podwrapper.pl
/po/*.gmo
/resize/.depend
/resize/virt-resize
/run
/sparsify/.depend
/sparsify/virt-sparsify
/stamp-h1
/sysprep/.depend
/sysprep/stamp-script1.sh
/sysprep/stamp-script2.sh
/sysprep/stamp-script4.sh
/sysprep/sysprep-extra-options.pod
/sysprep/sysprep-operations.pod
/sysprep/sysprep_operation_*.mli
/sysprep/virt-sysprep
/test-data/blank-disks/blank-disk-*
/test-data/fake-virtio-win/fake-virtio-win.iso
/test-data/phony-guests/archlinux.img
/test-data/phony-guests/blank-*.img
/test-data/phony-guests/coreos.img
/test-data/phony-guests/debian.img
/test-data/phony-guests/fedora.img
/test-data/phony-guests/fedora-btrfs.img
/test-data/phony-guests/fedora-luks-on-lvm.img
/test-data/phony-guests/fedora-lvm-on-luks.img
/test-data/phony-guests/fedora-md1.img
/test-data/phony-guests/fedora-md2.img
/test-data/phony-guests/fedora-static-bin
/test-data/phony-guests/fedora.db
/test-data/phony-guests/guests.xml
/test-data/phony-guests/guests-all-good.xml
/test-data/phony-guests/stamp-fedora-md.img
/test-data/phony-guests/ubuntu.img
/test-data/phony-guests/windows.img
/test-data/phony-guests/windows-software
/test-data/phony-guests/windows-system
/tests/functions.sh
/website/*.html
/win-reg/virt-win-reg
